{% load staticfiles %}
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>お酒管理</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
  crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'prj/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'prj/css/watch.css' %}">
  <link rel="stylesheet" href="{% static 'prj/css/list.css' %}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
  <header>
    <div class="container">
      <i id="open_menu" class="far fa-bars"></i>
      <nav id="menu">
        <i id="close_menu" class="fas fa-times"></i>

        <ul>
          <li>
            <a href="{% url 'myapp:home' %}">ホーム</a>
          </li>
          <li>
            <a href="{% url 'myapp:User_View' %}">ユーザー</a>
          </li>
          <li>
            <a href="{% url 'myapp:HowtoUse_View' %}">使用方法</a>
          </li>
          <li>
            <a href="{% url 'myapp:database' %}">履歴</a>
          </li>
        </ul>

      </nav>
      <h1>ホーム</h1>
    </div>
  </header>
  <section>
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form }}
      <input type="submit" accept="image/" value="投稿" />
      <br>
      <a class="link_button" href="{% url 'myapp:Input_View' %}">入力</a>
    </form>
  </section>
  <section class="features">
    <div class="container">
      <div class="container2">
        <p>飲み始めてからの時間</p>
        <div id="timer">00:00.000</div>
        <div class="controls">
          <div class="btn" id="start">Start</div>
          <div class="btn" id="stop">Stop</div>
          <div class="btn" id="reset">Reset</div>
        </div>
      </div>
      <script src="{% static 'prj/js/watch.js' %}"></script>
    </section>
    <script src="{% static 'prj/js/menu.js' %}"></script>
  </body>

  </html>