{% load staticfiles %}
<!DOCTYPE html>
<html lang="ja">

<head>
  <link rel="shortcut icon" href="{% static 'prj/img/beer.jpeg' %}">
  <meta charset="utf-8">
  <title>お酒管理</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
  crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'prj/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'prj/css/input2.css' %}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>



  <div id="form-main">
    <div id="form-div">

      <p1>入力フォーム</p1>

      <p class="name">
        <i class="fas fa-beer"></i>
      </p>

      <script>
      if("{{result}}" != ""){
        document.write("{{result}}と判別されました")
      }
      </script>

      <form action="{% url 'myapp:Input_View' %}" method="post">
        {% csrf_token %}
        <label>お酒の種類</label>
        {{ form.name }}
        <p>{{ form.name.help_text }}</p>
        <label>度数</label>
        {{ form.degree }}
        <p>{{ form.degree.help_text }}</p>
        <label>量(ml)</label>
        {{ form.value }}
        <p>{{ form.value.help_text }}</p>

        <div class="submit">
          <input type="submit" value="登録" id="button-blue">
        </form>
        <div class="ease"></div>
      </div>


    </div>
    <header>
      <div class="container">
        <i id="open_menu" class="fas fa-bars"></i>
        <nav id="menu">
          <i id="close_menu" class="fas fa-times"></i>
          <ul>
            <li>
              <a href="{% url 'myapp:home' %}">
                <i class="fas fa-home fa-2x"></i>
              </a>
            </li>
          </ul>

        </nav>
      </div>
    </header>
    <script src="{% static 'prj/js/menu.js' %}"></script>

  </body>
  </html>