/* body {
background-image:url('115 Hidden Jaguar.png');
background-size: cover;
background-color: rgb(126, 126, 128)
} */
* {
  box-sizing:border-box
}
h1 {
  text-align:center;  /*垂直方向のそろえ方を指定する*/
  font-family:comfortaa;
  font-weight:900;
  font-size:3em;
  color:#fff;
  text-shadow:0em 0.05em 0 rgba(0,0,0,0.35)
}
button {
  color:#454545;
  background:transparent;
  border-width:2px;
  border-style: solid;
  border-color: #454545;
  position:relative;
  margin:1em;
  display:inline-block;
  padding:0.5em 1em;
  transition:all 0.3s ease-in-out;
  text-align:center;
  font-family:comfortaa;
  font-weight:bold
}
button:before, button:after {
  content:'';
  display:block;
  position:absolute;
  border-color:#454545;
  box-sizing:border-box;
  border-style:solid;
  width:1em;
  height:1em;
  transition:all 0.3s ease-in-out
}
button:before {
  top:-6px;
  left:-6px;
  border-width:2px 0 0 2px;
  z-index:5;
}
button:after {
  bottom:-6px;
  right:-6px;
  border-width:0 2px 2px 0;
}
button:hover:before, button:hover:after {
  width:calc(100% + 12px);
  height:calc(100% + 12px);
  border-color:#fff
}
button:hover {
  color:#353535;
  background-color:#fff;
  border-color:#fff
}
.panel {
  max-width:960px;
  text-align:center;
  position:relative;
  margin:auto;
}

.borderless button {
  border-color:rgba(0,0,0,0);
  color:#999
  padding
}
.borderless button:hover {
  border-color:#353535;
  background-color:transparent;
  color:#353535
}
.borderless button:before, .borderless button:after {
  border-color:transparent;
}
.borderless button:hover:before, .borderless button:hover:after {
  width:calc(100% + 12px);
  height:calc(100% + 12px);
  border-color:#353535
}

.panel borderless {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin:auto;
  width: 100;
  height: 100;

}

input[type="file"] {
  display: none;
}

/* .hide {
  display: none;
} */