

body {
  background: #f8cb03;
  font-size: 14px;
  font-family: Verdana, sans-serif;
  margin: 0;
  color: rgb(22, 2, 2);
}

p {
  line-height: 2;
}

.container {
  width: 90%;
  margin: 0 auto;
  font-size: 17px;
}

body > section {
  padding: 60px 0;
}

body > section:nth-of-type(odd) {
  background: #fff;
}

.section-title {
  text-align: center;
  font-weight: normal;
  margin: 0 0 60px;
}


header h1 {
  font-size: 28px;
  font-weight: normal;
}

#menu {
  position: absolute;
  top: 100;
  left: 100;
  right: 0;
  background: rgba(20, 0, 0, 0.9);
  border-radius: 10px;
  color: #fff;
  display: none;
}

#menu.shown {
    display: block;
}

#menu ul {
  list-style: none;
  margin: 10;
  padding: 20px 20px;
}

#menu li {
  line-height: 2;
  padding: 15px 0px;
}

#menu a {
  text-decoration: none;
  color: inherit;
}


#open_menu {
  float: right;
  font-size: 24px;
  cursor: pointer;
}

#close_menu {
  padding: 15px;
  float: right;
  cursor: pointer;
}

.feature img{
    width: 100%;
}

.feature:not(:last-child) {
  margin-bottom: 60px;
}

.news-item img {
  width: 100%;
}
/**/
/*@media (min-width: 570px){

    body {
        background: skyblue;
    }
}*/

@media (min-width: 912px) {

  .container {
    width: 820px;
  }

  #open_menu {
    display: none;
  }

  #close_menu {
    display: none;
  }

  #menu {
    display: block;
    position: static;
    background: transparent;
    color: #333;
  }

  #menu ul {
    padding: 0;
    float: right;
  }

  #menu li {
    display: inline-block;
    width: 100px;
    text-align: center;
  }
}

#link_button{
  font-size: 15px;
}

span{
  display: inline-block;
   width: 9em;
}
